<ion-header>
    <ion-navbar>

        <ion-title>Mein Blutdruck</ion-title>
        <ion-buttons end>
            <button ion-button (click)="showSettings()" float-left>
                <ion-icon name="person"></ion-icon>
            </button>
            <button ion-button (click)="createPDF()">
                <ion-icon name="download"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div id="dataItems">
        <table style="width:100%">
            <tbody *ngFor="let displayRow of getDataItems()" justify-content-start
                   [ngClass]="getRowClass(displayRow.dataItem)"
                   (click)="selectItem(displayRow.dataItem)">
            <tr *ngIf="displayRow.monthDescription != null">
                <td colspan="4" style="padding:1rem 0.5rem 0.5rem 0.5rem; text-align:left; font-weight: bold">
                    {{displayRow.monthDescription}}
                </td>
            </tr>
            <tr *ngIf="displayRow.dataItem != null && displayRow.dataItem.comment != null && displayRow.dataItem.comment != ''">
                <td colspan="4" style="padding:1rem 0.5rem 0.5rem 0.5rem; text-align:center; font-weight: bold">
                    {{displayRow.dataItem.comment}}
                </td>
            </tr>
            <tr *ngIf="displayRow.dataItem != null">
                <td style="padding:0.5rem; width:49%">
                    {{formatTime(displayRow.dataItem)}}
                </td>
                <td [ngClass]="getSystoleClass(displayRow.dataItem)"
                    style="text-align:right; padding:0.5rem; width:17%; white-space: nowrap">
                    {{displayRow.dataItem.value.systole}}
                </td>
                <td [ngClass]="getDiastoleClass(displayRow.dataItem)"
                    style="text-align:right; padding:0.5rem; width:17%; white-space: nowrap">
                    {{displayRow.dataItem.value.diastole}}
                </td>
                <td style="text-align:right; padding:0.5rem; width:17%; white-space: nowrap">
                    {{displayRow.dataItem.value.pulse}}
                </td>
            </tr>
            </tbody>
        </table>
        <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </div>
    <ion-fab right bottom *ngIf="isAnyItemSelected()" (click)="deleteSelectedItem()">
        <button ion-fab style="margin-bottom:16rem" color="danger">
            <ion-icon name="trash"></ion-icon>
        </button>
    </ion-fab>
    <ion-fab right bottom *ngIf="isAnyItemSelected()" (click)="showInput()">
        <button ion-fab style="margin-bottom:8rem" color="secondary">
            <ion-icon name="create"></ion-icon>
        </button>
    </ion-fab>
    <ion-fab right bottom>
        <button ion-fab (click)="showInput(true)">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-fab>

</ion-content>
